altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
av==11.0.0
blinker==1.9.0
blis==0.7.11
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.7.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
coloredlogs==15.0.1
ctranslate2==4.6.0
cymem==2.0.11
en_core_sci_sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.0/en_core_sci_sm-0.5.0.tar.gz#sha256=a844ce74091b6c10022f19f8ce7732a7008e9ff92c23147582cf66fefc6b7fc6
exceptiongroup==1.3.0
fastapi==0.116.1
faster-whisper==0.10.0
filelock==3.19.1
flatbuffers==25.2.10
fsspec==2025.9.0
gitdb==4.0.12
GitPython==3.1.45
h11==0.16.0
huggingface-hub==0.35.0
humanfriendly==10.0
idna==3.10
iniconfig==2.1.0
intel-openmp==2021.4.0
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
langcodes==3.5.0
language_data==1.3.0
marisa-trie==1.2.1
Markdown==3.6
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mkl==2021.4.0
mpmath==1.3.0
murmurhash==1.0.13
narwhals==2.5.0
networkx==3.4.2
numpy==1.26.4
onnxruntime==1.22.1
packaging==24.2
pandas==2.2.2
pathlib_abc==0.1.1
pathy==0.11.0
pillow==10.4.0
pluggy==1.6.0
preshed==3.0.10
protobuf==5.29.5
pyarrow==21.0.0
pycparser==2.22
pydantic==1.8.2
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.2
pyreadline3==3.5.4
pytest==8.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
reportlab==4.2.2
requests==2.32.4
rich==13.9.4
rpds-py==0.27.1
scikit-learn==1.5.1
scipy==1.15.3
six==1.17.0
smart-open==6.4.0
smmap==5.0.2
sniffio==1.3.1
spacy==3.2.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.3
srsly==2.5.1
srt==3.5.3
starlette==0.47.2
streamlit==1.37.0
streamlit-mic-recorder==0.0.4
sympy==1.14.0
tbb==2021.13.1
tenacity==8.5.0
thinc==8.0.17
threadpoolctl==3.6.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.2.1
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tornado==6.5.2
tqdm==4.67.1
typer==0.4.2
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.35.0
vosk==0.3.45
wasabi==0.10.1
watchdog==4.0.2
websockets==15.0.1
